<ion-list padding>
  <ion-row align-items-center>
    <button ion-col col-4 ion-button icon-only clear color="dark">
      <ion-icon name="skip-backward"></ion-icon>
    </button>
    <button ion-col col-4 ion-button large icon-only clear color="primary">
      <ion-icon name="play"></ion-icon>
    </button>
    <button ion-col col-4 ion-button icon-only clear color="dark">
      <ion-icon name="skip-forward"></ion-icon>
    </button>
  </ion-row>

  <ion-item>
    <ion-range [(ngModel)]="volumen" (ionChange)="onRangeChange($event)" min="0" max="100" color="primary">
      <ion-icon *ngIf="!volumen" small range-left name="volume-off"></ion-icon>
      <ion-icon *ngIf="volumen" small range-left name="volume-down"></ion-icon>
      <ion-icon small range-right name="volume-up"></ion-icon>
    </ion-range>
  </ion-item>

  <button ion-item (click)="close()">
    <ion-icon item-left name="settings"></ion-icon>
    Configuraciones
  </button>
</ion-list>